# created by virtualenv automatically
Include
Lib
Scripts
*.pyc
*.sqlite3
*.cfg
truss/PlanetDisplay/migrations/*
truss/PlanetDisplay/__pycache__/*
truss/truss/PlanetDisplay/__pycache__/*

C:\Users\joshr\Documents\TrussInterview\truss\PlanetDisplay\__pycache__

