<!DOCTYPE html>
<html lang="en">
<head>
  <title>Planet Information Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% if planets %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Climate</th>
            <th scope="col">Population</th>
            <th scope="col">Residents</th>
            <th scope="col">Surface Water km2</th>
            <th scope="col">Terrain</th>
        </tr>
    </thead>
    <tbody>
        {% for planet in planets%}
        <tr>
            <th scope="row">
                <a href={{ planet.url }} target="_blank">{{ planet.name }}</a>
            </th>
            <td>{{ planet.climate }}</td>
            <td>{{ planet.population }}</td>
            <td>{{ planet.residents }}</td>
            <td>{{ planet.surface_water }}</td>
            <td>{{ planet.terrain }}</td>
        </tr>
        <tr></tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>no planets are available</p>
{% endif %}